   .nav-search-link .nav-search-icon {
      display: none;
    }
    .nav-search-link .nav-search-text {
      display: inline;
    }
    @media only screen and (min-width: 768px) {
      .nav-search-link .nav-search-icon {
        display: inline;
      }
      .nav-search-link .nav-search-text {
        display: none;
      }
      
    }
